# Jupyter Book build output
_build/
.jupyter_cache/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
